<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <!--.container>.col>.jumbotron>h1.display-4{Dashboard}+p.lead{Gérez vos contacts facilement.}+hr.my-4-->
    <div class="container">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Dashboard</h1>
                <p class="lead">Gérez vos contacts facilement.</p>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <script src="public/dist/bundle.js"></script>
</body>
</html>
